
.footer-total{
    display: flex;
    justify-content: space-around;

    padding: 16px 0 ; /* puts space between the content inside the box and the edge of the box*/
    margin: 0px;/*puts space between this element and other elements. So outside the box*/
    border-top: 1px solid #eeeeee; /*creates a border with a colour and thickness */
    /*margin-top: 16px;*/
    color: rgb(155, 155, 155);
    
}

.footer-left{
    letter-spacing: 2px;
    font-size: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    border-bottom: none;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 10px;
}

.footer-links li{
    list-style: none;
    text-align: center;
    vertical-align: baseline;
}

.footer-links a{
    padding: 3px;

}


.footer-copyright{
    letter-spacing: 5px;
    font-size: 6px;
}

