<footer>
      
    <link rel="stylesheet" href="./css/footer.css">
      <section>
          <div class="footer-total">
        <div class="footer-left">
          <p>Placeholder</p>
          <p>All data is not owned by this site.</p>
        </div>

        <div>
          <ul class="footer-links">
            <li>Links to supporting sites</li>
            <li><a href="https://fantasy.premierleague.com/">FPL</a></li>
            <li><a href="#">Others</a></li>
          </ul>
        </div>

        <div class="footer-copyright">Created by <br>Tim Littler
        </div>
        </div>
      </section>

</footer>