
<header role="banner" class="header">    
    <link rel="stylesheet" href="./css/header.css">
      <!-- Top Navigation -->
      <nav class="navigation-bar">
      <!--  <div class="header-image">
          <a href="/index" class="main-logo">
            <img class="logo-white" src="img/logo.png" alt="" >
          </a>
        </div>-->
        <div class="header-text">
                matchday
        </div>

          <ul class="navigation-links">
            <li class="navigation-link-most"><a href="./">Home</a></li>
            <li class="navigation-link-most"><a href="./predictions">Predictions</a></li>
            <li class="navigation-link-most"><a href="./fixtures">Fixtures</a></li>
            <li class="navigation-link-last"><a href="./live_scores">LiveScores</a></li>
          </ul>

        <div class="burger">
            <div class="burger1"></div>
            <div class="burger1"></div>
            <div class="burger1"></div>
        </div>
      </nav>
    </header>

