
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./css/main.css">
<link class="browser_tab_img" rel="icon" href="/image/football_icon.png">
</head>
<body >
      <div>
  	 <!-- HEADER -->
    {{>headers}}
    </div>
    
    <div class="main">
    <!-- MAIN -->
    <main>
        <div class="main-content">
      <!-- Content -->
      this is the main body of the page
      </div>
    </main>
    </div>

    <div>
    <!-- FOOTER -->
    {{>footer}}
    </div>
  </body>


</html> 